<div class="auth-form-container">
  <h2>Forgot Password</h2>
  <p>We can assign tasks, set deadlines, and track progress effortlessly.</p>

  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="auth-form"
  >
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Input your e-mail"
        [ngClass]="{
          'is-invalid':
            forgotPasswordForm.controls['email'].invalid &&
            forgotPasswordForm.controls['email'].touched
        }"
      />
      <div
        class="error-message"
        *ngIf="
          forgotPasswordForm.controls['email'].invalid &&
          forgotPasswordForm.controls['email'].touched
        "
      >
        <span *ngIf="forgotPasswordForm.controls['email'].errors?.['required']"
          >Email is required</span
        >
        <span *ngIf="forgotPasswordForm.controls['email'].errors?.['email']"
          >Please enter a valid email</span
        >
      </div>
    </div>

    <div class="auth-actions">
      <button
        type="submit"
        class="btn-primary"
        [disabled]="forgotPasswordForm.invalid || loading"
      >
        <div class="spinner" *ngIf="loading"></div>
        <span *ngIf="!loading">Send E-mail</span>
      </button>
    </div>

    <div class="auth-links">
      <a [routerLink]="['/login']">Back to Login</a>
    </div>
  </form>
</div>
