<div class="login-container">
  <!-- Left Side -->
  <div class="login-left">
    <div class="logo">
      <!-- <i class="icon-shipping"></i>
      <span>Shipping Pro</span> -->
      <img src="/images/completelogo.png" alt="Logo" />
    </div>

    <div class="login-intro">
      <h1>LET'S LOG IN NOW<br />TO ACCESS EXCLUSIVE FEATURES</h1>
      <p>
        Shipping Pro is a powerful tool that helps you manage your shipping
        operations efficiently. With its user-friendly interface and advanced
        features, you can easily track shipments, manage inventory, and optimize
        your logistics processes.
      </p>
    </div>

    <div class="demo-card">
      <div class="demo-content">
        <div class="truck-image"></div>
        <div class="demo-text">
          <h3>GET FREE DEMO</h3>
          <p>Explore dashboard. Click here!</p>
          <button class="btn-demo">
            View Detail <i class="icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="auth-right">
    <router-outlet></router-outlet>
  </div>
</div>
